.lobby {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}
.lobby__inner {
  display: flex;
   justify-content: center;
   align-items: center;
}
