body {
background: #eee;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 200;
  padding: 20px;
  box-sizing: border-box;
}
